apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: fintech-lab/gateway:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 9501
          envFrom:
            - configMapRef:
                name: shared-config
          env:
            - name: APP_NAME
              value: gateway
            - name: DB_DATABASE
              value: fintech_gateway
          readinessProbe:
            tcpSocket:
              port: 9501
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 9501
            initialDelaySeconds: 15
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
    - port: 9501
      targetPort: 9501
      nodePort: 30001
